body {
    background-color: green;
}

button {
    border: solid red 1px;
}

#computerCroupier, #playerCroupier {
    font-size: xx-large;
}

#buttons {
    position: absolute;
    right: 0;
    top: 0;
}