/*Vegas Style Font*/
@font-face {
  font-family: Budmo;
  src: url(styles/budmo_jigglish.ttf);
}

/*animate neon*/
@keyframes pulse {
  0% {
    color: hotpink;
  }
  20% {
    color: rgb(202, 82, 202);
  }
  40% {
    color: pink;
  }
  60% {
    color: rgb(218, 218, 35);
  }
  80% {
    color: yellowgreen;
  }
  100% {
    color: turquoise;
  }
}

@keyframes pulsereverse {
  100% {
    color: hotpink;
  }
  80% {
    color: rgb(202, 82, 202);
  }
  60% {
    color: pink;
    filter: saturate(200%) hue-rotate(20deg);
  }
  40% {
    color: rgb(218, 218, 35);
  }
  20% {
    color: yellowgreen;
  }
  0% {
    color: turquoise;
  }
}

/*make font-size responsive*/
html {
  font-size: calc(0.8em + 1vw);
}

/*reset style*/
body {
  background-color: maroon;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/*wrapper for grid*/
#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 6fr 2fr;
}

#neonwrapper {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

#neon {
  text-align: center;
  font-family: Budmo;
  color: rgb(249, 255, 192);
}

.neon1 {
  animation-name: pulse;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.neon2 {
  animation-name: pulsereverse;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

#buttonwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 8vh;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 25.600000381469727px;
  border: 1px solid rgba(152, 0, 0, 1);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal normal 300 22px/30px "Iceland", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(
      0deg,
      rgba(255, 0, 0, 0.8) 0,
      rgba(255, 0, 0, 0.8) 100%
    ),
    rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.8) 0,
      rgba(255, 0, 0, 0.8) 100%
    ),
    rgba(0, 0, 0, 1);
  background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.8) 0,
      rgba(255, 0, 0, 0.8) 100%
    ),
    rgba(0, 0, 0, 1);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset,
    0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset,
    0 7px 0 0 rgba(137, 30, 30, 1), 0 8px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset,
    0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset,
    0 7px 0 0 rgba(137, 30, 30, 1), 0 8px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

button:hover {
  border: 1px solid rgba(114, 2, 2, 1);
  background: -webkit-linear-gradient(
      0deg,
      rgba(152, 0, 0, 1) 0,
      rgba(152, 0, 0, 1) 100%
    ),
    rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(
      90deg,
      rgba(152, 0, 0, 1) 0,
      rgba(152, 0, 0, 1) 100%
    ),
    rgba(0, 0, 0, 1);
  background: linear-gradient(
      90deg,
      rgba(152, 0, 0, 1) 0,
      rgba(152, 0, 0, 1) 100%
    ),
    rgba(0, 0, 0, 1);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset,
    0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 rgba(89, 8, 8, 1),
    0 8px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset,
    0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 rgba(89, 8, 8, 1),
    0 8px 3px 0 rgba(0, 0, 0, 0.2);
}

button:active {
  top: 6px;
  border: 1px solid rgba(152, 0, 0, 1);
  -webkit-border-radius: 0;
  border-radius: 0;
  background: -webkit-linear-gradient(
      -90deg,
      rgba(152, 0, 0, 0.8) 0,
      rgba(152, 0, 0, 0.8) 100%
    ),
    rgb(255, 255, 255);
  background: -moz-linear-gradient(
      180deg,
      rgba(152, 0, 0, 0.8) 0,
      rgba(152, 0, 0, 0.8) 100%
    ),
    rgb(255, 255, 255);
  background: linear-gradient(
      180deg,
      rgba(152, 0, 0, 0.8) 0,
      rgba(152, 0, 0, 0.8) 100%
    ),
    rgb(255, 255, 255);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset,
    0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset,
    0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset;
  -webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

#game {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  border: solid transparent 15px;
  border-image: url(assets/img/woodborder.svg) 100 round;
  background-color: rgba(2, 107, 2, 0.938);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

#humansection, #dealersection, #scoressection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

img {
  align-items: center;
  max-width: 100%;
  max-height: 80%;
}